@import '~/assets/css/bootstrap-grid.scss';
@import '~/assets/css/fonts.scss';

body,
html {
	margin: 0;
	padding: 0;
	// font-size: 1.2vw;
	font-size: 16.5px;
	color: #2b454e;
}

.w-100 {
	width: 100%;
}