@import '~/assets/css/bootstrap-grid.scss';
@import '~/assets/css/fonts.scss';

body,
html {
	margin: 0;
	padding: 0;
	font-size: 1.2vw;
	color: #2b454e;
	font-family: HelveticaNeue-Roman;
	overflow-x: hidden;
}

@media (min-width: 1920px) {
	html {
		font-size: 16px;
	}
}

.w-100 {
	width: 100%;
}

svg {
	display: inline-block;
	vertical-align: baseline;
	fill: currentColor;
}

.icon {
	width: 1.175rem;
	line-height: 0;
	// height: 1.175rem;
}

::-webkit-scrollbar {
	box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.27);
	width: 7px;
	border-radius: 4px;
}
::-webkit-scrollbar-track {
	background: white;
}
::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #dcdcdc;
}
