@import '~/assets/css/bootstrap-grid.scss';
@import '~/assets/css/fonts.scss';

body,
html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #2b454e;
	font-family: HelveticaNeue-Roman;
	overflow-x: hidden;
}
.section {
	border-top: 1px solid $border-color;
	&__header {
		margin: 1rem 0;
	}
	&__title {
		font-size: 1.6rem;
		font-family: 'times new roman psmt';
		text-transform: uppercase;
		margin: 0;
	}
	&__text {
		font-size: 1rem;
		color: $secondary-text-color;
		margin: 0;
	}
}

.w-100 {
	width: 100%;
}
