@import '~/assets/css/bootstrap-grid.scss';
@import '~/assets/css/fonts.scss';

body,
html {
	margin: 0;
	padding: 0;
	font-size: 1.2vw;
	color: #2b454e;
	font-family: HelveticaNeue-Roman;
	overflow-x: hidden;
}

// .section {
// 	border-top: 1px solid $border-color;
// 	&__header {
// 		margin: 1rem 0;
// 	}
// 	&__title {
// 		font-size: 1.6rem;
// 		font-family: 'times new roman psmt';
// 		text-transform: uppercase;
// 		margin: 0;
// 	}
// 	&__text {
// 		font-size: 1rem;
// 		color: $secondary-text-color;
// 		margin: 0;
// 	}
// }

.w-100 {
	width: 100%;
}

svg {
	display: inline-block;
	vertical-align: baseline;
	fill: currentColor;
}

.icon {
	width: 17px;
	height: 17px;
}

::-webkit-scrollbar {
	box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.27);
	width: 7px;
	border-radius: 4px;
}
::-webkit-scrollbar-track {
	background: white;
}
::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #dcdcdc;
}