@import '~/assets/css/bootstrap-grid.scss';
@import '~/assets/css/fonts.scss';

body,
html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #2b454e;
	font-family: HelveticaNeue-Roman;
	overflow-x: hidden;
}

.w-100 {
	width: 100%;
}
