.Section {
	&__header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__title {
		display: inline-block;
		text-transform: uppercase;
		width: 20%;
	}
	&__options {
		display: flex;
		align-items: center;
		width: 80%;
		position: relative;
		&:after {
			content: '';
			height: 1px;
			width: 100%;
			background-color: #c2c2c2;
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -5;
		}
	}
}
