@import 'vue-select/dist/vue-select.css';

.v-select {
	min-width: 17rem;
	width: max-content;
	background: #fff;
	font-size: 0.9rem;
}
.v-select .vs__dropdown-toggle {
	border-radius: 37px;
	border-color: #d0d0d0;
	height: 3rem;
}
.v-select .vs__open-indicator {
	fill: #c4c4c4;
	cursor: pointer;
}
.v-select .vs__search[placeholder] {
	color: #2b454e;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 0.4rem 0;
	margin: 4px 2px 0;
	padding-left: 1.5rem;
}
.v-select .vs__selected {
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.4rem 0;
	padding-left: 1.5rem;
}

.v-select .vs__actions {
	padding-right: 1.2rem;
}
